#our-services .icon-box {
    transition: 0.3s ease-out;
  }
  
  #our-services .icon-box:hover {
    box-shadow: 0px 2px 40px rgba(8, 70, 78, 0.10);
    margin-top: -3px;
  }
  
  #our-services .service-icon-box {
    box-shadow: 0px 2px 40px rgba(8, 70, 78, 0.10);
  
  }
  
  @media only screen and (max-width: 1399px) {
    #our-services .icon-box-content h3.card-title {
      font-size: 1.2em;
    }
  
    #our-services .icon-box-content p {
      font-size: 0.9em;
    }
  }
  
  @media only screen and (max-width: 767px) {
    #our-services .icon-box-content h3.card-title {
      font-size: 1.8em;
    }
  }